*,
*body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    color: rgb(163, 156, 156);
}

nav {
    display: flex;
    justify-content: space-around;
    height: 10%;
    width: 100%;
}

.hamburger {
    line-height: 20px;
    margin-top: 20px;
    margin-left: 600px;
    height: 40%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    color: black;
}

.one {
    border: 2px solid black;
    width: 22px;
    color: black;
    background-color: black;
}

.two {
    border: 2px solid black;
    width: 22px;
    color: black;
    background-color: black;
}

.three {
    border: 2px solid black;
    width: 22px;
    color: black;
    background-color: black;
}

#sec-1 {
    background-image: url("/images/hero-bg.jpg");
    color: white;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: 54% 0%;
    background-size: cover;
    padding-bottom: 160px;
}

.first {
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 3px;
    height: 100%;
    line-height: 0;
}

.second {
    font-size: 100px;
    font-weight: 900;
    line-height: 0;
}

.line {
    border: 5px solid white;
    width: 50%;
    margin-bottom: 50px;
    background-color: white;
}

#svgs {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    height: 100%;
    font-family: Roboto, sans-serif;
    letter-spacing: 2px;
}

.icon-1 {
    display: flex;
    flex-direction: column;
    line-height: 40px;
    margin-top: 7px;
}

.icon-2 {
    display: flex;
    flex-direction: column;
    line-height: 40px;
}

.icon-3 {
    display: flex;
    flex-direction: column;
    line-height: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    padding-top: 250px;
    line-height: 7px;
    margin-top: 0;
}

.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

#sec-2 {
    color: #111111;
    background-color: #f2f2f2;
    text-align: center;
    padding: 70px 60px 70px 60px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Roboto, sans-serif;
}

h4 {
    font-size: 1.5rem;
    line-height: 0.3;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0p
}

h1 {
    font-size: 3.125rem;
    line-height: 1.1;
    font-weight: 700;
}

.p-1 {
    color: grey;
    font-weight: 10;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1.125rem;
    margin: 130px 490px 0;
}

.p-2 {
    font-weight: 700;
    font-size: 3.125rem;
    width: 780px;
    margin: 20px auto 0;
}

.p-3 {
    font-size: 1.25rem;
    font-weight: 10;
    line-height: 1.7;
    width: 780px;
    margin: 30px auto 0;
    color: #111111;
    font-family: 'Open Sans', sans-serif;
}

.btn-1 {
    color: #ffffff !important;
    background-color: #e71a23 !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.75rem;
    font-weight: 600;
    border-style: solid;
    margin: 30px auto 60px;
    padding: 16px 36px;
    border-color: #e71a23;
    border-radius: 3px;
}

#sec-3 {
    align-items: center;
    padding-left: 100px;
    text-align: center;
}

.container-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px 40px 5px 60px;
    width: 70%;
    margin-left: 100px;
}

.row-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px;
    width: 50%;
}

.row-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.p-4 {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    width: 90%;
    padding: 50px;
    display: block;
    font-size: 20px;
}

.black-h {
    font-weight: 700;
    font-size: 2.25rem;
    margin: 0;
}

.red-h {
    font-size: 1.875rem;
    margin: 20px 1px 0;
    color: #e71a23;
}

#sec-4 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: url("/images/g.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90%;
}

#img {
    min-height: 208px;
    pointer-events: auto;
    background-image: url("images/billionphotos1079319min.png");
    background-position: 70% 0%;
    position: relative;
    flex: 1;
    max-width: 170%;
    background-size: contain;
    padding: 30px 60px;
    background-repeat: no-repeat;
    font-size: 1rem;
    line-height: 1.6;
}

.flex-1 {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    width: 60%;
    line-height: 70px;
    padding-top: 60px;
}

.line-2 {
    border: 5px solid #e71a23;
    width: 66%;
    margin-top: 40px;
    background-color: #e71a23;
}

.blue-h {
    color: #104e92;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    margin: 135px 0 0;
    text-align: left;
    font-size: 4.5rem;
}

.btn-2 {
    color: #ffffff !important;
    background-color: #e71a23 !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.75rem;
    font-weight: 600;
    border-style: solid;
    margin-right: 640px;
    padding: 16px 36px;
    border-color: #e71a23;
    border-radius: 3px;
}

.p-5 {
    font-size: 1.25rem;
    margin: 30px 0 0;
    word-wrap: break-word;
    position: relative;
    width: 56%;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    margin-bottom: 30px;
}

.icon-p {
    font-size: 1.125rem;
    font-style: italic;
    margin: 20px 0 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    color: #272626;
}

.icon-border {
    background-color: #e71a23;
    width: 8%;
    padding: 15px 28px 15px 15px;
    border-radius: 50%;
}

.flex-row {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    height: 200px;
}

.flex-row-p {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    height: 200px;
}

.flex-col {
    display: flex;
    flex-direction: column;
    width: 30%;
    line-height: 20px;
    height: 260px;
}

.container-4 {
    padding: 100px;
}

#sec-6 {
    background-color: #104e92;
    color: white;
    height: 60%;
    padding-top: 100px;
    padding-right: 100px;
    padding-bottom: 60px;
}

.about {
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
    font-family: Montserrat, sans-serif;
}

.plumbing {
    font-size: 6rem;
    line-height: 1;
    margin: 10px 0 0;
    font-weight: 400;
    color: white;
}

.flex-col-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    padding-right: 90px;
}

.flex-col-1 {
    display: flex;
    flex-direction: column;
    width: 30%;
    line-height: 20px;
    height: 260px;
    padding-top: 100px;
    margin-left: 40px;
}

Span {
    font-weight: 700;
    font-family: Roboto, sans-serif;
}

.flex-col-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.flex-row-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 300px;
}

.btn-3 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.75rem;
    font-weight: 600;
    border-style: solid;
    margin: 30px auto 60px;
    padding: 16px 36px;
    border-color: #454545 !important;
    color: #454545 !important;
    background-color: transparent !important;
    border-width: 1px;
    border-radius: 3px;
}

#sec-7 {
    padding: 100px 200px 100px 200px;
}

#sec-7 .flex-col-3 h2 {
    text-align: center;
    width: 50%;
    font-size: 2.25rem;
    line-height: 1.1;
    font-weight: 700;
}

.pp {
    font-size: 1.875rem;
    font-weight: 100;
    margin: 30px 0 0;
    width: 50%;
    font-family: 'Open Sans', sans-serif;
}

#sec-last {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    font-size: 1rem;
    line-height: 1.6;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
}

#sec-last p {
    padding: 20px;
    width: 500px
}

footer {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #abcff7;
}

@media(max-width: 991px) {
    .first {
        font-size: 3rem;
        line-height: 2px;
    }
    #sec-1 {
        background-position: 34.74% 0%;
        padding-bottom: 0;
    }
    .second {
        font-size: 5rem;
        line-height: 1px;
    }
    .line {
        width: 450px;
    }
    .container {
        margin-left: 40px;
        padding-top: 200px;
        text-align: left;
        line-height: 2px;
        height: 50%;
    }
    #svgs {
        width: 60%;
    }
    nav {
        width: 800px;
    }
    .hamburger {
        margin-left: 300px;
        z-index: 10;
    }
    #sec-2 {
        padding: 70px 40px 70px 20px;
    }
    .p-1 {
        margin-left: 250px;
        margin-right: 280px;
        width: 27%;
    }
    .p-2 {
        width: 720px;
    }
    .p-3 {
        width: 700px;
        margin: 30px auto 0;
    }
    .container-3 {
        flex-direction: column;
        margin-left: 0;
        padding: 50px 40px 5px 40px;
    }
    #sec-3 {
        padding-left: 0;
        padding-bottom: 100px;
    }
    .row-1 {
        width: 110%;
        padding: 0;
    }
    #sec-3 .container-3 img {
        min-height: 380px;
    }
    #img {
        min-height: 308px;
        padding: 30px 0px;
        padding-top: 100px;
        background-size: cover;
    }
    .flex-1 {
        padding: 5px;
        height: 80%;
        width: 50%;
        padding-bottom: 100px;
    }
    .blue-h {
        font-size: 3.125rem;
        padding-top: 0px;
    }
    .p-5 {
        font-size: 1.125rem;
    }
    #sec-4 {
        height: 90%;
    }
    .btn-2 {
        width: 50%;
    }
    #sec-5 .container-4 h1 {
        margin-right: 211px;
    }
    .flex-row {
        width: 120%;
        height: 50%;
        margin-left: -10px;
    }
    .flex-col {
        width: 50%;
        height: 100%;
        padding: 10px;
    }
    .container-4 {
        margin-left: -30px;
    }
    .icon-border {
        padding-right: 40px;
    }
    .flex-row-p {
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 70%;
    }
    #sec-6 {
        height: 100%;
        padding-left: 40px;
        padding-bottom: 100px;
    }
    .plumbing {
        font-size: 72px;
        width: 480%;
        margin-bottom: 100px;
    }
    .flex-col-3 {
        width: 100%;
    }
    #sec-7 {
        padding: 50px;
    }
    #sec-7 .flex-col-3 h2 {
        width: 100%;
    }
    .pp {
        width: 100%;
        line-height: 1.6;
    }
    .flex-row-2 {
        margin-top: 40px;
    }
    #sec-last {
        height: 50%;
    }
}

@media(max-width: 767px) {
    #sec-1 {
        background-position: 81.49% 50%;
        width: 100%;
        height: 1000px;
    }
    nav {
        height: 120px;
        width: 100%;
    }
    #svgs {
        display: none;
    }
    .first {
        height: 0%;
        line-height: 0px;
        font-size: 36px;
        letter-spacing: 0px;
    }
    .second {
        font-size: 58px;
    }
    .container {
        padding-top: 700px;
        margin-left: 10px;
    }
    .line {
        border: 7px solid white;
        width: 80%;
    }
    #sec-2 {
        width: 100%;
        height: 120%;
        padding-right: 0px;
        padding-left: 0px;
    }
    .p-1 {
        width: 49%;
        margin-left: 90px;
    }
    .p-2 {
        width: 100%;
    }
    .container-2 {
        padding-right: 0px;
        padding-left: 0px;
        height: 100%;
    }
    .p-3 {
        width: 340px;
    }
    .p4 {
        font-size: 70px;
    }
    #sec-3 {
        width: 100%;
    }
    .row-1 {
        width: 90%;
        height: 70%;
    }
    .container-3 {
        padding: 50px 1px 5px 10px;
        width: 94%
    }
    #sec-4 {
        width: 100%;
        flex-direction: column;
        height: 1100px;
    }
    #img {
        padding-left: 10px;
        padding-right: 10px;
        background-size: contain;
    }
    .flex-1 {
        width: 87%;
        padding-bottom: 10px;
        margin-left: 40px;
    }
    .container-4 {
        height: 1500px;
        padding-bottom: 0px;
    }
    .blue-h {
        padding-top: 10px;
        width: 60%;
    }
    #sec-5 {
        width: 100%;
        height: 1100px;
    }
    .flex-col {
        width: 100%;
    }
    .p-4 {
        width: 100%;
        padding: 20px;
        text-align: left;
        display: flex;
        justify-content: left;
    }
    .p-5 {
        width: 100%;
    }
    .flex-row {
        flex-direction: column;
    }
    #sec-5 .container-4 h1 {
        margin-top: 10px;
    }
    .icon-p {
        width: 320px;
    }
    #sec-6 {
        width: 100%;
        height: 150%;
        padding-right: 0px;
        padding-left: 0px;
    }
    .flex-col-2 {
        padding-right: 0px;
        height: 700px;
    }
    .flex-row-p {
        width: 90%;
        margin-left: 10px;
    }
    #sec-last p {
        padding: 20px 0px 20px 0px;
        width: 100%;
    }
    .plumbing {
        width: 100%;
    }
    .btn-2 {
        margin: 0;
    }
    #sec-7 .flex-col-3 h2 {
        width: 400px;
    }
    .one {
        border: 2px solid black;
        width: 22px;
        color: black;
    }
    .two {
        border: 2px solid black;
        width: 22px;
        color: black;
    }
    .three {
        border: 2px solid black;
        width: 22px;
        color: black;
    }
    .hamburger {
        height: 30%;
    }
}